# Read more about SSH config files: https://linux.die.net/man/5/ssh_config
Host ubuntu18.04
    HostName 192.168.58.119
    User wangpengcheng

Host 192.168.58.138
    HostName 192.168.58.138
    User node

Host 182.92.209.15
    HostName 182.92.209.15
    User node
    Port 6001

Host 192.168.58.169
    HostName 192.168.58.169
    User ls